@font-face {
   font-family: "lato";
   src: url("../fonts/lato-regular.woff2") format("woff2"), url("../fonts/lato-regular.woff") format("woff");
   font-display: swap;
   font-weight: 400;
   font-style: normal;

}

@font-face {
   font-family: "lato";
   src: url("../fonts/Lato-medium.woff2") format(woff2), url("../fonts/lato-medium.woff") format("woff");
   font-display: swap;
   font-weight: 500;
   font-style: normal;

}

@font-face {
   font-family: "lato";
   src: url("../fonts/lato-bold.woff2") format("woff2"), url("../fonts/lato-bold.woff") format("woff");
   font-display: swap;
   font-weight: 700;
   font-style: normal;

}

@font-face {
   font-family: "larsseit";
   src: url("../fonts/larsseit.woff2") format("woff2"), url("../fonts/larsseit.woff") format("woff");
   font-display: swap;
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "larsseit";
   src: url("../fonts/larsseit-medium.woff2") format("woff2"), url("../fonts/larsseit-medium.woff2") format("woff2");
   font-display: swap;
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: "larsseit";
   src: url("../fonts/larsseit-bold.woff2") format("woff2"), url("../fonts/larsseit-bold.woff") format("woff");
   font-display: swap;
   font-weight: 700;
   font-style: normal;
}

/* -------------------------------*/

.header,
.footer-contact {
   font-family: "lato", sans-serif;
   font-weight: 700;
   background-color: rgb(162, 146, 156);
   opacity: 0.7;

}

.header-link {
   color: rgb(23, 49, 59);
   text-transform: uppercase;
   font-size: 25px;
}

.menu {
   background: url(../img/sps1.jpg) no-repeat fixed;
}

.menu-title {
   color: rgba(214, 220, 224, 0.882);
   text-transform: uppercase;
   font-size: 40px;
}

p span {
   font-family: "larsseit", sans-serif;
   font-weight: 700;
   color: rgb(32, 237, 17);
   font-size: 28px;

}

.menu-text {
   font-family: "roboto", sans-serif;
   font-weight: 400;
   color: rgb(213, 223, 201);
   font-size: 15px;
}

a {
   font-size: 25px;
   color: rgb(52, 17, 52);
}